{% extends 'base.html' %}

{% block content %}
          <!-- Modal body -->
          <form  style="padding: 40px" method="post">
              {% csrf_token %}
              <label for="new-product-name">Mijoz:</label>
              <input type="text" name="customer" value="{{debt.customer}}" id="new-customer" class="form-control" required>
              <br>
              <label for="new-product-name">Nasiya miqdori:</label>
              <input type="text" name="debt" value="{{debt.debt}}" id="new-debt" class="form-control" required>
              <br>
              <label for="new-product-name">Mijoz tug'ulgan sana:</label>
              <input type="date" name="customer_birth_date"  value="{{debt.customer_birth_date|date:'Y-m-d'}}" id="new-customer-birthdate" class="form-control" >
              <br>
              <label for="new-product-name">Savdo sanasi:</label>
              <input type="date" name="date"   value="{{debt.date|date:'Y-m-d'}}" id="new-debt-date" class="form-control" required>
              <br>
              <label for="new-product-name">Mahsulotlar:</label>
              <input type="text" name="products" value="{{debt.products}}" id="new-products" class="form-control" >
              <br>
          <!-- Modal footer -->
            <button type="submit" class="btn btn-success">Yangilash</button>
            <a href="{% url 'products' %}"><button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button></a>

      </form>

{% endblock%}